.content
  .content-inner
    .profile-section.group
      .profile-thumbnail
        =image_tag 'avatar.png'
      .profile-info
        %ul
          %li
            %h3
              Bangkok
          %li
            Khaosan Rd, Bangkok, Thailand

    .block
      %h3.bordered
        Customer Information
        %a.edit-link{ :href => '#' }
          %i.icon-pencil
          edit
      %ul.list
        %li 
          %dl.align-horizontal
            %dt Name: 
            %dd 
              %strong Johnny Bravo
        %li 
          %dl.align-horizontal
            %dt Contact:
            %dd 
              %strong 032 455 3293
        %li 
          %dl.align-horizontal
            %dt Email:
            %dd 
              %strong johnnybravo@example.com
        %li
          %dl.align-horizontal
            %dt Address:
            %dd 
              %strong Unit 3, Lorem Ipsum Rd, Bangkok, Thailand

    .block
      %h3.bordered
        Cleanliness
      .rating#cleanliness
        %a
          %i.icon-emo-grin
          .rating-value
            Happy
        %a
          %i.icon-emo-happy
          .rating-value
            Satisfied
        %a
          %i.icon-emo-unhappy
          .rating-value
            Dissastisfied
        %a
          %i.icon-emo-angry
          .rating-value
            Frustrated

    .block
      %h3.bordered
        Product Availability
      .rating#availability
        %a
          %i.icon-emo-grin
          .rating-value
            Happy
        %a
          %i.icon-emo-happy
          .rating-value
            Satisfied
        %a
          %i.icon-emo-unhappy
          .rating-value
            Dissastisfied
        %a
          %i.icon-emo-angry
          .rating-value
            Frustrated

    .block
      %h3.bordered
        Checkout Counter
      .rating#counter
        %a
          %i.icon-emo-grin
          .rating-value
            Happy
        %a
          %i.icon-emo-happy
          .rating-value
            Satisfied
        %a
          %i.icon-emo-unhappy
          .rating-value
            Dissastisfied
        %a
          %i.icon-emo-angry
          .rating-value
            Frustrated

    .block
      %h3.bordered
        Price Differentiation
      .rating#price
        %a
          %i.icon-emo-grin
          .rating-value
            Happy
        %a
          %i.icon-emo-happy
          .rating-value
            Satisfied
        %a
          %i.icon-emo-unhappy
          .rating-value
            Dissastisfied
        %a
          %i.icon-emo-angry
          .rating-value
            Frustrated
.content
  .content-inner
   
    %h3
      Comments
    .form
      %textarea.full#commentVal{ :placeholder => 'Enter your comment here' }
      %button.btn.action#commentSubmit{ :type => 'submit' }
        Submit Comment

    .block
      #commentContainer
      .comment-item.group
        .profile-thumbnail.small
          =image_tag 'avatar1.png'

        .comment
          %h3.comment-user
            Jessica Alba
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec imperdiet enim. Pellentesque non enim velit, non rhoncus leo. Maecenas mi mauris
      .comment-item.group
        .profile-thumbnail.small
          =image_tag 'avatar1.png'

        .comment
          %h3.comment-user
            Jessica Alba
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec imperdiet enim. Pellentesque non enim velit, non rhoncus leo. Maecenas mi mauris

