a.logo
  width: 57px
  height: 38px
  display: block
  float: left
  background-image: image-url('logo.png')
.navbar-inner
  border-radius: 0
a
  cursor: pointer
.block
  padding: 20px 0
a.profile-nav
  float: right
  padding: 5px
  display: block
.profile-image
  float: left
  width: 30px
  height: 30px
  background: #999
  &.profile-image-large
    width: 100px
    height: 100px
.profile-info
  float: left
  margin-left: 5px
  margin-top: 5px
  li
    display: block
    margin: 10px 0
.main-user-profile
  font-size: 18px

h3 
  a.edit-info
    font-size: 13px
    font-weight: normal
.rating-form
  .field-inline-wrapper
    margin-top: -30px
.comment-form
  textarea
    width: 100%
.user-image
  width: 50px
  height: 50px
  background: #e1e1e1
.field-inline-wrapper
  display: inline-block
  margin: 0 5px
  border: 1px solid #e1e1e1
  border-radius: 3px
  padding: 5px
  text-align: center
  label
    font-weight: bold
    margin-bottom: 0